/**
* The following styles get applied both on the front of your site
* and in the editor.
*/

.comparison {
	margin-block: var(--spacing-32);


	&__title {
		font-size: 2.8rem;
		text-align: center;

		margin-bottom: var(--spacing-16);
	}

	&__images {
		width: 100%;
		height: 50rem;

		position: relative;

		&--img {
			position: absolute;

			width: 100%;
			height: 50rem;

			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center center;

			img {
				position: relative;
				width: 100%;
			}

			&.before {
				z-index: var(--layers-normal);
				width: 50%;
			}
		}
	}

	&__slider {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		height: 50rem;
		width: 0.6rem;

		background-color: var(--wp--preset--color--white);

		z-index: 5;

		cursor: ew-resize;

		&--thumb {
			position: absolute;
			bottom: var(--spacing-32);
			left: 50%;
			transform: translateX(-50%);

			background-color: var(--wp--preset--color--gray-alt-2);
			height: 2.4rem;
			width: 2.4rem;

			border-radius: 50%;

			border: 0.6rem solid var(--wp--preset--color--white);
		}
	}
}
